<div class="content">
  <!-- Highlight Card -->
  <div class="bg-dark collapse show" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h1 class="text-white">Welcome to the Top 100 Albums</h1>
          <h6 class="text-white">Discover the latest music hits and enjoy listening to your favorite artists.</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="container ">
    <app-album-list></app-album-list>
  </div>
</div>
